*{
  box-sizing: border-box;
  margin: 0px;
}

body{
  font-family: Arial;
  font-size: 16px;
  background-color: white;
}

.header{
  background-color: #37a4e6;
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 10px 0px;
  margin-bottom: 50px;
}

.contenedorgeneral{
  width: 1200px;
  margin: auto;
  border: 1px #c4e1f7 solid;
  display: flex;
  min-height: 325px;
  margin-bottom: 40px;
}

.izquierda{
  width: 23%;
  height: 216px;
  margin-right: 20px;
  background-color: #c4e1f7;
}

.opciones{
  font-size: 20px;
  width: 100%;
}

.opciones a{
  text-decoration: none;
  color: black;
  padding: 10px 20px 10px 1px;
}

.opcion{
  width: 100%;
  border: black 1px solid;
  padding: 5px 0px 5px 10px;
}

.opcion :hover{
  color: #37a4e6;
}

.derechainicio{
  width: 76%;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  background-color: #c4e1f7;
}

.final{
  margin: auto;
  text-align: center;
  background-color: #a5d2f2;
  padding: 20px 0px;
}

.final img{
  height: 100px;
}

.imageninicio{
  padding-top: 15px;
}

.imageninicio img{
  border-radius: 20px;
}

.derechaservicios{
  width: 76%;
  padding: 20px;
  font-size: 35px;
}
/*/////////////////MOSTRAR PRODUCTOS/////////////*/
.text{
  padding-top: 5px;
  text-align: center;
  font-size: 30px;
}

.tamanoid{
  width: 10%;
  font-size: 25px;
}
.tamanofoto{
  width: 25%;
  font-size: 25px;
}
.tamanonombre{
  width: 25%;
  font-size: 25px;
  padding: 0px 10%;
}
.tamanoletranombre{
  font-size: 20px;
  text-align: justify;
  padding: 0px 2%;
}
.tamanoprecio{
  width: 12%;
  font-size: 25px;
}
.tamanoletraprecio{
  font-size: 20px;
}
.tamanoeliminar{
  width: 6%;
  font-size: 25px;
}

.cuadroproducto{
  text-align: center;
  overflow-y: scroll;
  max-height: 500px;
}


.del{
  width: 30px;
}

.opciones2{
  display: flex;
  width: 100%;
  font-size: 20px;
}
.opciones2 a{
  margin: 5px;
  text-decoration: none;
  color: black;
}
.opcion1{
  background-color: #37a4e6;
  border-radius: 10px;
}

.opcion2{
  background-color: #a5d2f2;
  border-radius: 10px;
  margin-left: 20px;
}



/*/////////////////AGREGAR PRODUCTOS/////////////*/

.agregarproductos{
  margin-top: 20px;
  padding-left: 5%;
}

.agregarproductos label{
  font-size: 25px;
}

.datos{
  width: 30%;
  height: 30px;
}

.botonguardar{
  margin-top: 15px;
  font-weight: bold;
  background-color: #a5d2f2;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
}

.imagenes{
  width: 240px;
  height: 240px;
}

.contenedorimagen{
  margin-top: 15px;
  text-align: center;
  margin-bottom: 15px;
  
}

/*///////////////////COMENTARIOS////////////////*/

.tamanocorreo{
  width: 20%;
  font-size: 25px;
}
.tamanoletracorreo{
  font-size: 20px;
}

.tamanoasunto{
  width: 15%;
  font-size: 25px;
}
.tamanoletrasunto{
  text-align: center;
}
.tamanoletranombre{
  font-size: 20px;
  padding: 0px 2%;
}
.tamanocomentario{
  width: 25%;
  font-size: 25px;
}
.tamanoletracomentario{
  padding-left: 20px;
  font-size: 20px;
  text-align: left;
}

.tamanoletracorreo{
  font-size: 25px;
  text-align: center;
}

.formularioagregar input{
  padding: .5em;
}

.colaboradores{
  display: flex;
  justify-content: space-around;
}